/* ----- HERO LAYOUT ----- */
.about-hero {
  width: 1340px;
  height: 652px;
  margin: 60px auto;
  display: flex;
  gap: 106px;
}

/* IMAGE w/ shadow (ONLY the image) */
.about-img {
  width: 556px;
  height: 652px;
  object-fit: cover;
  border-radius: 25px;
  box-shadow: 0px 0px 25px 13px #4b4e57;
}

/* RIGHT CARD (text block) */
.about-card {
  width: 678px;
  height: 568px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* TITLE */
.about-title {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-size: 55px;
  line-height: 100%;
  margin-bottom: 62px;
  color: #000000;
  margin-right: 200px;
  margin-top: 42px;
  text-align: right;
}

/* DESCRIPTION TEXT */
.about-text {
  flex: 1;
  font-family: "Roboto", sans-serif;
  font-size: 34px;
  font-weight: 400;
  line-height: 1.15;
  color: #000;
}

/* ----- INFO BANNER ----- */
.about-info-banner {
  width: 100%;
  min-height: 225px;
  background: linear-gradient(0deg, #d8a31a 0%, #c75b12 34.13%);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 80px;
  margin-top: 60px;
  padding: 40px 20px;
}

/* Banner items */
.banner-item h3 {
  font-family: "Share Tech", sans-serif;
  font-size: 55px;
  font-weight: 400;
  margin-bottom: 6px;
  color: #ffffff;
  white-space: nowrap;
  text-align: center;
}

/* Top text (big) */
.banner-item h3 {
  font-family: "Share Tech", sans-serif;
  font-size: 55px;
  font-weight: 400;
  margin-bottom: 6px;
}

/* Bottom text (smaller) */
.banner-item p {
  font-family: "Share Tech", sans-serif;
  font-size: 34px;
  font-weight: 400;
  color: #ffffff;
  text-align: center;
}
