main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.cta_wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url('../../assets/cta_bg.jpg');
    background-repeat: no-repeat;
    background-size: 100%;
    width: 100%
}
.cta {
    background-color: #1f1f1fb6;
    height: 400px;
    width: 400px;
    align-self: flex-start;
    margin: 2em;
}